body{
    background-color:aliceblue;
}

h1{
    text-align:center;
}

.main{
    width:70%;
    max-width:700px;
    margin:0 auto;
    background-color:cornflowerblue;
    color:white;
}

ul{
    list-style:none;
    
}

